* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: url('images/PawBackground.jpg');
    padding: 2em 13em;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #8133ef;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 1.5em;
}

.header-link-text, .hero-secondary-text {
    font-size: 18px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #8133ef;
}

.hero-main-container {
    padding: 7em 0;
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 10em;
}

.hero-main-container .left {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.left #left-1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.left #left-button {
    background-color: #8133ef;
    color: #F9FAF8;
    font-size: 18px;
    padding: 7px;
    width: 120px;
    border-radius: 9px;
}

.hero-main-container .right {
    display: flex;
    width: 100%;
    height: 100%;
}

img {
    object-fit: cover;
    width: 100%;
}

#main-penny {
    height: 80%;
    align-self: flex-end;
    border: 2px solid #F9FAF8;
}

.right #right-1 {
    background-color: gray;
    color: #F9FAF8;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 230px;
}

#some-random-info {
    color:#8133ef;
    text-align: center;
    padding: 1em;
    font-size: 36px;
    font-weight: bolder;
}

.random-info-container {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    margin-bottom: 6em;
}

.info-item {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    align-items: center;
    gap: .5em;
}

.box {
    width: 200px;
    height: 200px;
    border: 4px solid #d780ff;
    border-radius: 20px;
}

#penny {
    border: 5px solid #d780ff;
    border-radius: 20px;
    width: 200px;
    height: 200px;
}

.subtext {
    text-align: center;
    color: #8133ef;
}

.thor {
    background-color: #d8afff;
    color: #8133ef;
}

.thor-container {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 6em 20em;
}

#inspiring-quote {
    font-size: 36px;
    font-weight: lighter;
    align-self: center;
}

#author-thor {
    text-align: right;
    font-weight: bold;
    align-self: flex-end;
    font-size: 24px;
    color: #F9FAF8;
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5em 12em;
}

.action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8133ef;
    padding: 3.5em 8em;
    border-radius: 10px;
    color: #F9FAF8;
    gap: 10em;
}

.action-container .left {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#call-to-action {
    font-weight: bold;
    font-size: 24px;
}

#sign-up-product {
    font-size: 18px;
}

#button-right {
    background-color: #8133ef;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    font-size: 18px;
    padding: 8px;
    width: 120px;
    border-radius: 8px;
}

.footer {
    background-color: #d8afff;
    align-items: center;
    justify-content: center;
    padding: 3em 20em;
    text-align: center;
}

#github {
    font-size: 18px;
    color: #F9FAF8;
    font-weight: lighter;
}